<div id="scrollfix">
  <div id="main-content">
    <h1>Join The Drifters!</h1>
    <div id="new-user">
      <%= form_for @user do |f| %>
        <div>
          <%= f.text_field :username, placeholder: "Choose a Username", autocomplete: "off", required: true %>
        </div>
        <div>
          <%= f.password_field :password, placeholder: "Create a Password", required: true %>
        </div>
        <div>
          <%= f.email_field :email, placeholder: "Enter Your Email Address", autocomplete: "off", required: true %>
        </div>
        <div>
          <%= f.text_field :avatar_url, placeholder: "Provide URL for your Avatar Image", autocomplete: "off", required: true %>
        </div>
        <div>
          <%= f.text_area :about_me, placeholder: "Tell us a little about yourself!", required: true %>
        </div>
        <%= f.submit "Launch!", id: "post-button" %>
      <% end %>
    </div>
  </div>
</div>
