<div id="scrollfix">
  <div id="main-content">
    <h1 id="instance-title"><%= @user.username %></h1>
    <div id="success-message">
      <% flash.each do |message_type, message| %>
            <div class="flash <%= message_type %>"><%= message.html_safe %></div>
      <% end %>
    </div>
    <div>
      <%= image_tag("#{@user.avatar_url}", alt: "#{@user.username} avatar") %>
    </div>
    <div>
      <%= @user.about_me %>
    </div>
    <h2><%= @user.username %>'s Posts:</h2>
    <div id="user-posts">
      <% @posts.each do |post| %>
        <% if post.user_id == @user.id %>
          <%= post.content %>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
