<div id="main-content">
  <div id="post-form">
    <%= form_for @post, url: destination_posts_path do |f| %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.hidden_field :destination_id, value: @destination.id %>
      <div>
        <%= f.text_area :content, placeholder: "Add your post here" %>
      </div>
      <div>
        <%= f.text_field :photo_url, placeholder: "Add a photo (URL goes here)" %>
      </div>
      <%= f.submit "Post" %>
    <% end %>
  </div>
</div>
